body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 87%);
}
#calculator{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(48, 48, 48);
  max-width: 235px;
  border-radius: 10px;
  overflow: hidden;
  
}
#display{
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  text-align: left;
  border: none;
  background-color: rgb(71, 71, 71);
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  font-size: 30px;
  font-weight: 500;
}
button{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none ;
  background-color: rgb(105, 105, 105);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}
#keys{
  display: grid;
  grid-template-columns: repeat(4,55px);
  grid-template-rows: repeat(4,55px);
  padding: 10px;
}
button:hover{
  background-color: hsl(0, 0%, 39%);
}
button:active {
  background-color: hsl(0, 0%, 41%);
}
.opp{
  background-color: orange;
}
.opp:hover{
  background-color: hsl(43, 97%, 59%);
}
.opp:active {
  background-color: hsl(43, 91%, 75%);
}