body{
    height: 100vh;
    display: grid;
    background-color: rgb(0, 0, 100);
}

.div_main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.num{
    display:  inline;
    padding: 100px;
    border-radius: 50px;
    background-color: rgb(139, 100, 190);
    height: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #3316a9;
    box-shadow: #3316a9 2px 9px 30px 0px;
}
.info{
    padding: 10px;
    text-align: center;
    margin-bottom: 60px;
    background-color: rgb(176, 139, 225);
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #3316a9;
    border-radius: 20px;
    box-shadow: #3316a9 2px 2px 1px 0px;
    

}
